@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --primary-bg: #ff5349;
  --primary-color: #fff;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary-bg);
  }
  .box-shadow { 
    box-shadow:  -4px -6px 0px rgba(0, 0, 0, 0.1);
  }
  /* .shadow-top-md {
    box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 -4px 6px -4px rgba(0, 0, 0, 0.1);
  } */
  .color-primary {
    color: var(--primary-color);
  }
}